 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About? Can change Header</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Blah Blah Moisture Swing Sorbents Blah Blah Blah</p>
                </div>
                <div class="col-lg-4">
                    <p> More stuff about moisture swing sorbents and direct air capture or who we are or something like that whatever u guys think </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Do we want buttons here? Maybe link the paper? 
                    </a>
                </div>
            </div>
        </div>
    </section>