 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Objective</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>      We are a group of Bachelor’s and Graduate level UC Berkeley students who are concerned about the amount of anthropogenic CO2 be released into the atmosphere and the affect that is having on our global climate.  We believe one of the critical technologies that will be needed to off-set past, current, and future CO2 emissions is direct air capture (DAC) of CO2. Here we present one of the available technologies for DAC that we believe is quite promising due to its low energy cost.  </p>
                </div>
                <div class="col-lg-4">
                    <p>      We discovered information about a promising material in a paper titled "Moisture swing sorbent for carbon dioxide capture from ambient air". The technology is a membrane sorbent that uses a water swing to absorb and desorb CO2, as compared to the traditional energy intensive pressure and temperature swing sorbents like amines.  While this technology is still earlier stage, our rough economic modeling shows that this water swing sorbent could be implemented for only twice the cost of flue gas CO2 capture. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://pubs.acs.org/doi/abs/10.1021/es201180v" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Read the Original Paper by Wang, Lackner, and Wright
                    </a>
                </div>
            </div>
        </div>
    </section>